@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --header-height: 4rem;
    --controles-height: 5rem;
    --nav-width: 70px;
    --nav-width-show: 230px;
    --header-color: #EBEBEB;
    --first-color: #06316A;
    --first-color-light: #AFAFAF;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --naranja-ei: #FF8300;
    --naranja-ei-obscuro: #EB7900;
    --azul-ei: #00306E;
    --azul-ei-obscuro: #00214B;
    --verde-cfe: #008F5A;
    --naranja-ei-deg: #FFAE00;
    --texto-obscuro: #58595B;
    --fondo-claro: #F1F1F2;
    --gris-separador: #B2BABB;
    --Lapis-Lazuli: #356082;



    --AzulSuaveCryo: #314F7C;
    --AzulFuerteCryo: #1B3762;
    --AnaranjadoCryo: #FD9727;
    --NaranjaClaro: #FEA94D;
}

body {
   background-size: cover;
}

.formCambioPassword {
    background-color: white;
    opacity: 0.9;
}

.alert-aviso {
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
}

.fc-azul {
    color: var(--AnaranjadoCryo) !important;
    text-shadow: 2px 2px 2px #000000;
}
.fc-blanco {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}
/*.fc-naranja {
    color: var(--naranja-ei) !important;
}*/
.fc-recomendaciones {
    color: white !important;
    font-weight : bold !important;
}

.fc-blanco {
    color: white !important;
}

.fc-texto-obscuro {
    color: var(--texto-obscuro) !important;
}

.bg-blanco {
    background-color: var(--AzulSuaveCryo);
    border-radius: 15px;
}

.separador {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: var(--gris-separador);
}

.Base {
    display: inline-block;
    font: "segoe ui",arial,sans-serif bold;
    height: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: #FAFDFF;
}
.BtnCambia {
    font-size: 10pt !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: linear-gradient(to right, #0099cc, #00c3ff);
    border: none !important;
}
    .BtnCambia:hover {
        background: var(--MoradoHARDCORE) !important;
        box-shadow: 0 4px 10px rgba(0, 168, 232, 0.4);
        transform: translateY(-1px);
        cursor: pointer;
    }
.L0 {
    border: 0 none;
    background-color: #BDBDBD;
}

.L1 {
    background-color: #8A0808;
}

.L2 {
    background-color: #8A4B08;
}

.L3 {
    background-color: #868A08;
}

.L4 {
    background-color: #86B404;
}

.L5 {
    background-color: #298A08;
}

/*Telerik*/
.RadInput_Bootstrap {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: white !important;
    border-radius: 5px !important;
    padding: 0px !important;
}

.botonEnviar {
    padding: 0px !important;
    height: 36px !important;
    background-color: var(--AzulFuerteCryo) !important;
    width: 200px !important;
    border : none !important;
}
    .botonEnviar:hover {
        background: var(--MoradoHARDCORE) !important;
        box-shadow: 0 4px 10px rgba(0, 168, 232, 0.4);
        transform: translateY(-1px);
        cursor: pointer;
    }

.rbDecorated {
    height: 100% !important;
    width: 100% !important;
    color: white !important;
    font-size: 13pt !important;
}

.riContentWrapper {
    width: 396px !important;
}

/* Media Queries para Responsive */
@media (max-width: 768px) {
    #ImagenLogo{
        width:300px !important;
        display:block !important;
        margin: 0 auto !important;
    }
    #ImagenCambioPassword {
        width: 300px !important;
        display: block !important;
        margin: 0 auto !important;
    }
    .alert-aviso {
        height: auto !important;
        padding: 1rem !important;
    }
    #IconoOlvida{
        max-width:50px !important;
    }
    .ContenedorMensaje {
        justify-items: center !important;
    }
    .form-radios{
        font-size:11px !important;
    }
    .card-body{
        width:1000% !important;
    }
    .card {
        width: 62% !important;
    }
    .Contenedorsecundario {
        width: 62% !important;
    }
}

@media (max-width: 576px) {
    #txtContrasenaActual {
        width: 100% !important;
        max-width: 300px !important;
    }

    #txtNuevaContrasena {
        width: 100% !important;
        max-width: 300px !important;
    }

    #txtConfirmaContrasena {
        width: 100% !important;
        max-width: 300px !important;
    }

    .RadInput_Bootstrap {
        width: 305px !important;
    }

    #CustomIndicator {
        width: 100% !important;
        max-width: 300px !important;
    }

    #PasswordRepeatedIndicator {
        width: 100% !important;
        max-width: 300px !important;
    }
}
@media (max-width: 400px) {
    .card {
        width: 80% !important;
    }

    .Contenedorsecundario {
        width: 70% !important;
    }
    #txtContrasenaActual {
        width: 100% !important;
        max-width: 300px !important;
    }
    #txtNuevaContrasena {
        width: 100% !important;
        max-width: 300px !important;
    }
    #txtConfirmaContrasena {
        width: 100% !important;
        max-width: 300px !important;
    }
    .RadInput_Bootstrap{
        width:305px !important;
    }
    #CustomIndicator {
        width: 100% !important;
        max-width: 300px !important;
    }
    #PasswordRepeatedIndicator {
        width: 100% !important;
        max-width: 300px !important;
    }
}
