:root {
    --controles-color: #F3F3F3;
    --controles-width: 300px;
    --gris-separador: #B2BABB;
    --color-ahorro: #D6AA15;
    --color-pdf: #B30B00;
    --color-seleccion: #FFE6CC;
    --color-detalles-azul: #E5F4FF;
}

.controles {
    width: 100px;
    height: 40px;
    position: fixed;
    top: var(--header-height);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    z-index: 90;
   
}

.controles-pd {
    width: calc(var(--controles-width) + 40px);
}

.body-pd-filtros {
    padding-right: calc(var(--controles-width) + 20px);
}

.filtros {
    position: fixed;
    right: 0;
    width: 0px;
    height: 180%;
    top: var(--header-height);
    padding-left: 0px;
    transition: .5s;
    background-color: var(--controles-color);
}

.fc-azul {
    color: var(--azul-ei) !important;
}

.fc-verde {
    color: var(--verde-cfe) !important;
}

.fc-naranja {
    color: var(--naranja-ei) !important;
}

.fc-blanco {
    color: white !important;
}

.fc-texto-obscuro {
    color: var(--texto-obscuro) !important;
}

.fc-gris {
    color: var(--gris-separador) !important;
}

.fc-ahorro {
    color: var(--color-ahorro) !important;
}

.filtros-pd {
    width: var(--controles-width);
    background-color: var(--azul-ei);
}

.filtros-content {
    width: var(--controles-width) !important;
}

.filtros-toggle {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    width: 40px;
}

.btnFiltros {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ico-filtros-toggle {
    font-size: 1.5rem;
    color: var(--naranja-ei);
    transition: .5s;
    cursor: pointer;
}

.web-part {
    max-width: 600px !important;
    min-width: 550px !important;
    margin: 20px;
    padding: 20px;
    background-color: hsla(0, 0%, 100%, 0.4) !important;
    backdrop-filter: saturate(300%) blur(4px);
    border-radius: 15px;
}

.bg-blanco {
    background-color: hsla(0, 0%, 60%, 0.4) !important;
    backdrop-filter: saturate(300%) blur(4px);
    border-radius: 15px;
}

.web-part-transparente {
    max-width: 600px !important;
    min-width: 550px !important;
    padding: 0px 20px;
    background-color: hsla(0, 0%, 100%, 0) !important;
    backdrop-filter: saturate(300%) blur(4px);
}

.web-content {
    min-width: 450px !important;
    max-width: 97% !important;
    background-color: hsla(0, 0%, 100%, 0.4) !important;
    backdrop-filter: saturate(300%) blur(4px);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.web-buzon {
    min-width: 450px !important;
    max-width: 700px !important;
    background-color: hsla(0, 0%, 100%, 0.7) !important;
    backdrop-filter: saturate(300%) blur(10px);
}

.web-cambioContrasena {
    min-width: 450px !important;
    max-width: 650px !important;
    background-color: transparent !important;
    backdrop-filter: saturate(300%) blur(10px);
}

.display-contents {
    display: contents !important;
}

.border-ahorro {
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-ahorro);
}

.border-naranja {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: var(--naranja-ei) !important;
}

.card-EI {
    background-color: var(--naranja-ei);
}

.card-CFE {
    background-color: var(--verde-cfe);
}

.card-total {
    background-color: var(--azul-ei);
}


.ico-ahorro {
    color: var(--color-ahorro);
    font-size: 40pt;
}

.ico-EI {
    color: var(--EI-color);
    font-size: 20pt;
}

.ico-CFE {
    color: var(--CFE-color);
    font-size: 20pt;
}

.ico-total {
    color: var(--total-color);
    font-size: 20pt;
}

.text-titulo-info {
    color: var(--infogeneral-color);
}

.text-etq-info {
    color: var(--infogeneral-color);
}

.text-etq-ahorro {
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: var(--gris-separador);
}

.separador-horizontal {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: var(--gris-separador);
}

.text-etq-EI {
    margin-bottom: 0px;
    color: var(--EI-color);
}

.text-etq-CFE {
    margin-bottom: 0px;
    color: var(--CFE-color);
}

.text-etq-total {
    margin-bottom: 0px;
    color: var(--total-color);
}

.text-energias {
    margin-bottom: 0px;
}

.filtros-pd {
    padding-left: 0px !important;
}

.ico-alerts {
    margin-right: 10px;
}

.col-descarga {
    min-width: 200px !important;
    max-width: 300px !important;
}

.col-filtros {
    min-width: 400px;
    max-width: 600px !important;
}

.col-alert {
    min-width: 370px;
}

.btn-descarga-file {
    color: #1b1b1b !important;
    margin: 0 auto !important;
    --bs-btn-padding-y: .10rem !important;
    width: 40px !important;
    font-size: 12pt !important;
}

.btn-descarga-anexo {
    color: #1b1b1b !important;
    margin-top: 2px !important;
    --bs-btn-padding-y: .25rem !important;
    max-width: 80px !important;
    font-size: 10pt !important;
}

.card-aviso {
    max-width: 800px !important;
    background-color: hsla(0, 0%, 100%, 0.8) !important;
    backdrop-filter: saturate(300%) blur(4px);
    min-height: 100px;
}

.card-aviso-pendiente {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(300%) blur(50px);
    min-height: 100px;
    width: 99% !important;
}

.bg-portal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: var(--header-height);
    right: 0;
}

.bg-portal-img {
    background-image: url("../App_Resources/Imagenes/Sitio/bg-default2.png");
    background-size: cover;
}

.bg-portal-color {
    background-color: var(--fondo-claro);
}

.img-portal {
    position: absolute;
    width: 400px;
    top: 50%;
    right: -5%;
}

.boton-naranja {
    --bs-btn-bg: var(--naranja-ei) !important;
    --bs-btn-border-color: var(--naranja-ei) !important;
    --bs-btn-hover-bg: var(--naranja-ei-obscuro) !important;
    --bs-btn-hover-border-color: var(--naranja-ei-obscuro) !important;
    --bs-btn-active-bg: var(--naranja-ei-obscuro) !important;
    --bs-btn-active-border-color: var(--naranja-ei-obscuro) !important;
    --bs-btn-disabled-bg: var(--naranja-ei) !important;
    --bs-btn-disabled-border-color: var(--naranja-ei-obscuro) !important;
}

.boton-outline-naranja {
    --bs-btn-color: var(--naranja-ei) !important;
    --bs-btn-border-color: var(--naranja-ei) !important;
    --bs-btn-hover-bg: var(--naranja-ei) !important;
    --bs-btn-hover-border-color: var(--naranja-ei) !important;
    --bs-btn-active-bg: var(--naranja-ei) !important;
    --bs-btn-active-border-color: var(--naranja-ei) !important;
    --bs-btn-disabled-bg: var(--naranja-ei) !important;
    --bs-btn-disabled-border-color: var(--naranja-ei) !important;
    --bs-btn-bg: white !important;
}

.boton-azul {
    --bs-btn-bg: var(--azul-ei) !important;
    --bs-btn-border-color: var(--azul-ei) !important;
    --bs-btn-hover-bg: var(--azul-ei-obscuro) !important;
    --bs-btn-hover-border-color: var(--azul-ei-obscuro) !important;
    --bs-btn-active-bg: var(--azul-ei-obscuro) !important;
    --bs-btn-active-border-color: var(--azul-ei-obscuro) !important;
    --bs-btn-disabled-bg: var(--azul-ei) !important;
    --bs-btn-disabled-border-color: var(--azul-ei-obscuro) !important;
}

.cardPerfil {
    width: 430px;
    padding-top: 70px;
    background-color: hsla(0, 0%, 100%, 0.8) !important;
    backdrop-filter: saturate(300%) blur(4px);
    height: 200px;
    border-radius: 0px 0px 10px 10px;
}

.headerPerfil_naranja {
    background: linear-gradient(145deg, var(--naranja-ei) 60%, var(--naranja-ei-deg) 90%);
    height: 80px;
    top: -10px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
}

.headerPerfil_azul {
    background-color: var(--azul-ei);
    height: 80px;
    top: -10px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
}

.nombrePerfil {
    line-height: 1.2;
    max-width: 275px;
}

.fotoPerfil {
    background-image: url('../App_Resources/Imagenes/Directorio/default.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
    top: 15px;
    right: 20px;
}

.puestoPerfil {
    max-width: 275px;
    line-height: 1.3;
}

.btn-aviso-integracion {
    top: 20%;
    left: 5%;
}

.aviso-integracion {
    top: 15%;
    left: 12%;
    z-index: 90;
}

.fondoAvisos {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    opacity: .5;
}

.avisosPendientes {
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
}

.btn-detalles-ahorro {
    background-color: var(--azul-ei);
    height: 25px !important;
    width: 100px !important;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
}

.row-detalles-ahorro {
    height: 0px !important;
}

.show-row-detalles-ahorro {
    height: auto !important;
}

.cardDetallesAbierto {
    height: 400px !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.cardDetallesCerrado {
    height: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-detalles-ahorro {
    max-width: 600px !important;
    min-width: 550px !important;
}

.th-detalles-ahorro {
    background-color: var(--azul-ei);
    border: 2px solid;
    border-color: white;
    font-size: 9pt;
}

.row-azul-detalles {
    background-color: var(--color-detalles-azul);
    border: 2px solid;
    border-color: white;
    font-size: 9pt;
}

.row-blanco-detalles{
    background-color: white;
    border: 2px solid;
    border-color: white;
    font-size: 9pt;
}

/******* TELERIK *******/
.rgHeader {
    background-color: var(--first-color) !important;
}

.rcbInputCell {
    border-style: solid !important;
    border-width: 2px !important;
/*    border-color: var(--naranja-ei) !important;
*/}

.botonEnviar {
    padding: 0px !important;
    height: 36px !important;
    background-color: var(--azul-ei) !important;
}

.botonEnviarContrasena {
    padding: 0px !important;
    height: 36px !important;
    background-color: var(--azul-ei) !important;
}
.rbDecorated {
    height: 100% !important;
    width: 100% !important;
    color: white !important;
    font-size: 14pt !important;
}

.grid-telerik {
    position: absolute;
}

/******* TELERIK *******/

/***** Formulario *****/
.form-check-input:checked {
    background-color: var(--naranja-ei) !important;
    border-color: var(--naranja-ei) !important;
}

.form-control:focus {
    border-color: var(--naranja-ei) !important;
    box-shadow: none;
}

.form-control:disabled {
    border-color: var(--texto-obscuro) !important;
    opacity: .5 !important;
}

.RadInput_Bootstrap {
/*    border-style: solid !important;
*/    border-width: 2px !important;
/*    border-color: var(--naranja-ei) !important;
*/    border-radius: 5px !important;
    padding: 0px !important;
}
/***** Formulario *****/

@media screen and (min-width: 768px) {
    .controles {
        top: calc(var(--header-height) + 1rem);
    }

}

/**Boton de combo box busqueda cliente*/

.radComboBox .rcbInner {
    background-color: #072E6F !important;
    color: white !important;
    border-radius: 8px !important;
    padding: 6px 10px !important;
    font-size: 14px;
    border: 1px solid #072E6F;
}

.radComboBox .rcbEmptyMessage {
    color: #ccc !important;
}

.radComboBox .rcbList {
    background-color: white !important;
    color: #072E6F !important;
    font-size: 14px;
}

¿.radComboBox .rcbItem:hover {
    background-color: #e0e7f5 !important;
    color: #072E6F !important;
}

.radComboBox .rcbArrowCell {
    background-color: #072E6F !important;
    border-left: 1px solid #ccc;
    border-radius: 0 8px 8px 0;
    position: relative;
}

    .radComboBox .rcbArrowCell::after {
        content: "\025bc";
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .radComboBox .rcbArrowCell img {
        display: none !important;
    }
