/*html{
    overflow-y:auto !important;
}

body {
    overflow-y:auto !important;
}
*/

/*********************************************************************************
-- Notificaciones - Estilo genérico
**********************************************************************************/

.Nota {
    border: 1px solid #FFEFB9;
    padding: 10px;
    margin: auto;
    color: #A87E00;
    font-family: 'Segoe UI';
    font-size: 12.5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: justify;
    background: #FFF9E6 !important;
}

/*********************************************************************************
-- Catálogo - Estilo genérico
**********************************************************************************/

div.catalogo {
    width: calc(100% - 80px);
    text-align: left;
    margin: 72px 40px 0px 40px;
    overflow-y: hidden;
}

    div.catalogo div.barra {
        width: 100%;
        display: flex;
    }

        div.catalogo div.barra div.titulo {
            font: normal 17px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
            margin: 20px 0px 5px 0px;
            color: #333333;
            width: 50%;
            font-weight: 500;
        }

        div.catalogo div.barra div.acciones {
            width: 50%;
            text-align: right;
        }

    div.catalogo div.division {
        height: 2px;
        width: 100%;
        border-bottom: 2px solid gray;
        position: relative;
    }

    div.catalogo div.acciones {
        text-align: right;
        margin: 20px 10px 5px 0px;
    }

    div.catalogo div.contenido {
        text-align: left;
        padding-top: 5px;
    }

    div.catalogo div.contenidoGris {
        padding: 25px;
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: whitesmoke;
    }

    div.catalogo div.contenidoBlanco {
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: white;
        padding: 25px 20px 25px 20px;
    }

/*********************************************************************************
-- Modal - Estilo genérico
**********************************************************************************/

div.modal {
    width: 92%;
    text-align: center;
    margin: 0 auto;
    animation: slideDown 0.4s ease-out forwards;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
    div.modal div.titulo {
        font: normal 20px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        margin: 20px 0px 15px 0px;
        color: #333333;
    }

    div.modal div.tituloAccion {
        font: normal 16px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
        margin: 25px 0px 10px 10px;
        color: #333333;
        text-align: left;
    }

    div.modal div.acciones {
        text-align: right;
        margin: 50px 10px 5px 0px;
    }

    div.modal div.contenido {
        z-index: 0;
        padding: 25px 25px 25px 25px;
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: whitesmoke;
    }

    div.modal div.contenidoSimple {
        text-align: left;
    }

    div.modal div.contenidoBlanco {
        text-align: left;
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: white;
        padding: 25px 20px 25px 20px;
    }

/*********************************************************************************
-- Etiquetas y Controles ASP
**********************************************************************************/

.etiqueta {
    text-indent: 5px;
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}

.etiquetaSP {
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}

.radioButtonList {
    font-size: 12.5px;
    font-family: 'Segoe UI';
    color: #333333;
    width: 280px;
}

.Label {
    width: 120px;
    font: 12px "Segoe ui",arial,sans-serif;
    color: #333333;
}

/*********************************************************************************
-- Controles Telerik
**********************************************************************************/

.RadGrid {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0px;
}

div.RadGrid_Metro th.rgHeader,
div.RadGrid_Metro th.rgSorted {
    background-image: none;
    font-family: 'Segoe UI';
    color: #333333;
    background-color: #F4F4F4;
    font-size: 13px;
}

.RadInput .riTextBox {
    border-radius: 4px !important;
}

.RadGrid .rgFilterRow input {
    border-radius: 2px !important;
    font-size: 13px;
}

/* Estilo de filtros de Radgrid */
.RadGrid .rgFilterRow .riSingle .riTextBox {
    font-size: 13px;
    height: 33px;
}

.RadLabel {
    text-indent: 15px;
    padding: 2px 0px 2px 0px;
    width: 120px;
    font: 14px "Segoe ui",arial,sans-serif;
    color: #333333;
}

/**********************************************************************************
-- Cambio de password - Estilos para evaluar fiabilidad de contraseña
**********************************************************************************/

.Base {
    display: inline-block;
    font-size: 12px;
    font-family: Tahoma;
    font-weight: 500;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid #333333;
    height: 20px;
    padding-top: 1px;
    margin-top: 3px;
}

.L0 {
    border: 0 none;
}

.L1 {
    background-color: #ff3933;
}

.L2 {
    background-color: #ff6633;
}

.L3 {
    background-color: #ff3399;
}

.L4 {
    background-color: #cccc33;
}

.L5 {
    background-color: #33cc00;
}

/**********************************************************************************
-- Marcos
**********************************************************************************/

.Marco {
    border: 1px solid #DDDDDD;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;
    margin-right: 0px;
}

.MarcoGris {
    border: 1px solid #DDDDDD;
    padding: 4px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #F5F5F5;
}

.MarcoNB {
    border: 1px solid #DDDDDD;
    padding: 6px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    margin-right: 0px;
}

/**********************************************************************************
-- Titulos
**********************************************************************************/

.Titulo {
    font: normal 20px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin: 25px 0px 20px 0px;
    color: #333333;
}

.TituloAccion {
    font: normal 16px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    margin: 15px 0px 10px 10px;
    color: #333333;
    text-align: left;
}

.Subtitulo {
    color: #333333;
    font: 14.5px "segoe ui",arial,sans-serif;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.SubtituloIzquierda {
    color: #333333;
    font: 14.5px "segoe ui",arial,sans-serif;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.SubtituloWizard {
    color: #333333;
    font: 12px "segoe ui",arial,sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 6px;
    margin-top: 12px;
    padding: 8px;
    float: left;
    width: 400px;
    text-transform: uppercase;
}

/**********************************************************************************
-- Indicadores
**********************************************************************************/

.Indicador {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center !important;
}


.tituloIndicador {
    font-size: 14px;
    color: #1a364a;
    font-family: 'Segoe UI';
    vertical-align: text-bottom;
}

.valorIndicador {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 500;
    color: #26669e !important;
    position: relative;
    text-indent: 0;
    margin-left: 4px;
}

.imagen {
    cursor: help;
}


/**********************************************************************************
-- Nested views
**********************************************************************************/

.Nested {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2291b5 0 0 url('../App_Resources/Imagenes/Sitio/Bluegradient.jpg') repeat-x;
}

    .Nested .RadTabStrip .leftTab {
        margin-left: 4px;
        float: left !important;
    }

    .Nested .RadTabStrip_Default .rtsLink {
        padding: 4px 10px 4px 10px !important;
    }

.NoRecords {
    padding-top: 18px;
    font-size: 16px;
    text-align: center;
}

.NoRecordsLeft {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    text-align: Left !important;
}

/**********************************************************************************
-- Telerik Modal Overlay / Scroll Parent Window
**********************************************************************************/

.TelerikModalOverlay {
    width: 100% !important;
    height: 100% !important;
}


.RadButton.rbCheckBox .rbText {
    left: -20px;
    font: 12.5px "Segoe ui",arial,sans-serif;
    color: #333333;
}


.CheckBox {
    font-size: 14px;
    color: #333333;
    margin-left: 16px;
}

/*RadListView*/

.tecnicos {
    float: left;
    width: 62px;
    height: 68px;
    padding-left: 4px;
    padding-bottom: 4px;
    background: #ffffff;
}

.dataGroup {
    margin-top: 6px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
}

    .dataGroup fieldset {
        padding: 10px 0 0;
        border: 0 none;
    }

.combo .rcbDisabled {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.RadComboBox_Metro .rcbDisabled {
    filter: none !important;
    background-color: whitesmoke;
    opacity: 1 !important;
}

    .RadComboBox_Metro .rcbDisabled .rcbInputCell {
        color: #3e3e3e;
        background-color: whitesmoke;
    }

.breakWord {
    max-width: 170px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    text-align: left;
}

.breakWordCatalogo {
    max-width: 1000px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    text-align: center;
}

.Lista {
    display: inline-block;
    vertical-align: top;
}

.tituloLista {
    font-size: 11px;
    font-weight: 300;
    color: #1a364a;
    font-family: 'Tahoma', Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.valorLista {
    font-family: 'Tahoma', Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #639514;
    position: relative;
    text-align: center;
    margin: 0 auto;
}



[class^="Rad"], [class^="Rad"] * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.RadPicker .rcSelect * {
    box-sizing: content-box;
}

.rgMasterTable th.filteredColumn {
    background-color: Highlight;
    color: white;
}


/* SwitchButtons */
.k-switch {
    text-align: left !important;
    font-size: 10px !important;
    vertical-align: middle !important;
    display: inline-flex !important;
}

button.RadSwitch.customIcons .k-switch-container .k-switch-handle, .RadSwitch:hover .k-switch-container .k-switch-handle {
    font-family: "WebComponentsIcons" !important;
    text-align: center !important;
    color: inherit !important;
}

button.RadSwitch.customIcons.k-switch-on .k-switch-container .rbHovered,
button.RadSwitch.customIcons.k-switch-on:hover .k-switch-container {
    box-shadow: inset 0 0 0 1px #337ab7 !important;
}

button.RadSwitch.customIcons.k-switch-on .k-switch-container,
button.RadSwitch.customIcons.k-switch-on:hover .k-switch-container {
    color: #337ab7 !important;
    background-color: #337ab7 !important;
}

button.RadButton.customIcons.k-switch-on:hover .k-switch-handle,
button.RadButton.customIcons.k-switch-on.k-state-hover .k-switch-handle {
    border-color: #337ab7 !important;
}

button.RadSwitch.customIcons.k-switch-off .k-switch-container,
button.RadSwitch.customIcons.k-switch-off:hover .k-switch-container {
    color: darkred !important;
    background-color: lightgray !important;
}

    button.RadSwitch.customIcons.k-switch-off .k-switch-container .rbHovered,
    button.RadSwitch.customIcons.k-switch-off:hover .k-switch-container {
        box-shadow: inset 0 0 0 1px darkred !important;
    }

button.RadButton.customIcons.k-switch-off:hover .k-switch-handle,
button.RadButton.customIcons.k-switch-off.k-state-hover .k-switch-handle {
    border-color: brown !important;
}

.customIcons.k-switch-on .k-switch-handle:before {
    font-size: 2em !important;
    content: '\e118' !important;
}

.customIcons.k-switch-off .k-switch-handle:before {
    font-size: 2em !important;
    content: '\e11b' !important;
}

/* Estilos RRS */

.labelWidth {
    width: auto;
}

.collapsible {
    background-color: #26669e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #4994D6;
    }

.content {
    padding: 0 18px;
    display: block;
    background-color: #f1f1f1;
}

.rtsImg {
    width: 25px;
}

.marginTable {
    padding-top: 10px;
    padding-bottom: 10px;
}

/**********************************************************************************
-- Styles for filterBar collapsible
**********************************************************************************/

.filterButton {
    background-color: #26669e;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
}

    .filterButton div {
        display: flex;
    }

    .active, .filterButton:hover {
        background-color: #4994D6;
    }

    .filterButton:after {
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        line-height: 5px;
    }

.active:after {
    line-height: 5px;
}

.contentFilters {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 20px;
}

.iconFilter {
    line-height: 30px !important;
}

.titleFilter {
    line-height: 30px;
    margin-left: 5px;
    font-size: 20px;
}

.containerFilters {
    padding: 5px;
}

/**********************************************************************************
-- Estilo de Contactos
**********************************************************************************/

.contactProfileCombo {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border: solid 1px lightgrey;
    width: 98% !important;
    padding: 8px 4px 8px 4px !important;
}

    .contactProfileCombo .contactProfile {
        text-align: left;
        border-spacing: 0px;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 86%;
    }

        .contactProfileCombo .contactProfile .name {
            font-size: 14px;
            line-height: 24px !important;
            margin: 0px;
        }

        .contactProfileCombo .contactProfile .job {
            color: rgb(163, 150, 150);
            font-size: 13px;
        }

        .contactProfileCombo .contactProfile .info {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 15px !important;
            height: 20px;
            margin: 0px !important;
            padding: 0px !important;
        }

.avatarListaContactos {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 50%;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin: auto;
}



div#CatWrapper h3 {
    background-color: #2980B9;
    color: white;
}

div.RadSiteMap {
    margin: 10px;
}

    div.RadSiteMap .rsmLink,
    div.RadSiteMap .rsmTemplate {
        padding: 0;
    }

.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmItem {
    list-style: disc inside none;
}

div.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmLink,
div.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmTemplate {
    padding-left: 0;
}

div.Wrapper {
    margin: 0 15px 0 0;
    padding: 0 0 5px 0;
    float: left;
    width: 610px;
    background-color: whitesmoke;
    border: 1px solid;
}

    div.Wrapper h3 {
        text-transform: uppercase;
        padding: 5px;
    }
