.clockSession {
    background: url('../App_Resources/Imagenes/Sesión/Reloj.png') no-repeat;
    margin-left: 30px;
    margin-top: 12px;
    height: 140px;
}

.sessionExpire {
    padding-top: 5px;
    margin-left: 160px;
    font-size: 18px;
    font-weight: 500;
    color: #0f214a;
    font-family: 'Segoe UI';
}

.timeRemain {
    padding-top: 5px;
    margin-left: 160px;
    color: #000;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.timeSeconds {
    font-size: 38px;
    padding-right: 5px;
    font-family: 'Segoe UI';
}

div.RadNotification {
    font-size: 12px;
    font-family: 'Segoe UI';
}
